h1, h2, h3, h4, h5, h6, html {
	font-weight: 400;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  	-webkit-font-smoothing: antialiased;
    color: #B8E5D0
}

h1, h2, h3 {
	font-size: 2rem;
	line-height: 1.25;
}

ul, li, p {
	font-family: Menlo, monospace;
	font-size: 1rem;
	color: #FFB3B3;
}
